h1{
  color: blue;
   text-shadow: 2px 2px grey;
   font-family: Georgia, Times, serif;
}

p{
  font-family: Gill Sans, Arial, sans-serif;
}

h2{
  font-family: Arial, Verdana, sans-serif;
  color: blue;
}
