@font-face {
    font-family: myFont;
    src: url("myFont.otf");
}

div{
  margin-left: 2px;
  margin-top: 2px;
  borer-left: 1px;
  width: 100px;
  height: 100px;
  border-color: grey;
  box-shadow: 5px 10px 10px #888888;
  float: left;
  font-family: myFont;
  padding-left: 5px;
  padding-top: 2px;
}

.free{
  background-color: #d6cf08;
}
.container{
  width:750px;
  height:519px;
  border-color: white;
  border-style: none;
  box-shadow:none;
}

.iv:hover{
  background-color: green;
}

p{text-align: center;}
